apiVersion: 1

datasources:
  - name: influxdb
    type: influxdb
    access: proxy
    database: latency
    user:
    url: http://leonidpeskov1337-2:8086
    jsonData:
      httpMode: GET
    secureJsonData:
      password:
